<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Welcome</h1>
    <p class="centeredDescription col_4">Already signed up? You can <a href= <%= new_session_path %> >log in here.</a></p>
    <p class="centeredDescription col_4">If it is your first time to website <a href= <%= new_user_path %> >sign-up here.</a></p>
  </div><!-- end grid -->
</div><!-- end mainContent -->